In [ ]:
import pandas as pd

# Domestic Visitors

**Year 2016**

give the path of the csv file

In [ ]:
df1 = pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/domestic_visitors/domestic_visitors_2016.csv")
df1.head(5)

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887

In [ ]:
df1.isnull().values.any()

False

**Checking for null values**

In [ ]:
 df1.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
df1.shape

(372, 5)

In [ ]:
type(df1['date'])

pandas.core.series.Series

**Year 2017**

In [ ]:
df2 = pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/domestic_visitors/domestic_visitors_2017.csv")
df2.head(5)

   district        date     month  year visitors
0  Adilabad  01-01-2017   January  2017   318799
1  Adilabad  01-02-2017  February  2017    83316
2  Adilabad  01-03-2017     March  2017    27508
3  Adilabad  01-04-2017     April  2017    13946
4  Adilabad  01-05-2017       May  2017    11752

In [ ]:
df2.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
df2.shape

(372, 5)

In [ ]:
type(df2['date'])

pandas.core.series.Series

**Year 2018**

In [ ]:
df3 = pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/domestic_visitors/domestic_visitors_2018.csv")
df3.head(5)

   district        date     month  year visitors
0  Adilabad  01-01-2018   January  2018   320356
1  Adilabad  01-02-2018  February  2018    36550
2  Adilabad  01-03-2018     March  2018    23011
3  Adilabad  01-04-2018     April  2018    14183
4  Adilabad  01-05-2018       May  2018     8197

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  372 non-null    object
 1   date      372 non-null    object
 2   month     372 non-null    object
 3   year      372 non-null    int64
 4   visitors  360 non-null    object
dtypes: int64(1), object(4)
memory usage: 14.7+ KB

In [ ]:
df3.isnull().sum()

district     0
date         0
month        0
year         0
visitors    12
dtype: int64

In [ ]:
df3.shape

(372, 5)

In [ ]:
type(df3['date'])

pandas.core.series.Series

In [ ]:
12/372*100 #3.2 perecnt of data is null

3.225806451612903

**Year 2019**

In [ ]:
df4 = pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/domestic_visitors/domestic_visitors_2019.csv")
df4.head(10)

   district        date      month  year visitors
0  Adilabad  01-01-2019    January  2019    25071
1  Adilabad  01-02-2019   February  2019   406177
2  Adilabad  01-03-2019      March  2019    14347
3  Adilabad  01-04-2019      April  2019     9972
4  Adilabad  01-05-2019        May  2019     6997
5  Adilabad  01-06-2019       June  2019     9161
6  Adilabad  01-07-2019       July  2019    11791
7  Adilabad  01-08-2019     August  2019   108173
8  Adilabad  01-09-2019  September  2019    37589
9  Adilabad  01-10-2019    October  2019    38184

In [ ]:
df4.isnull().sum()

district     0
date         0
month        0
year         0
visitors    18
dtype: int64

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  396 non-null    object
 1   date      396 non-null    object
 2   month     396 non-null    object
 3   year      396 non-null    int64
 4   visitors  378 non-null    object
dtypes: int64(1), object(4)
memory usage: 15.6+ KB

In [ ]:
df4.shape

(396, 5)

In [ ]:
type(df4['date'])

pandas.core.series.Series

In [ ]:
18/396*100 #4.5 perecnt of data is null

4.545454545454546

**Merging 2016 and 2017 files**

In [ ]:
df_16_17 = pd.merge(df1,df2, on =['district','date','month','year','visitors'],  how = 'outer')
df_16_17.head(5)

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887

In [ ]:
df_16_17.tail(5)

            district        date      month  year visitors
739  Yadadri Bhongir  01-08-2017     August  2017   680720
740  Yadadri Bhongir  01-09-2017  September  2017   678925
741  Yadadri Bhongir  01-10-2017    October  2017   683500
742  Yadadri Bhongir  01-11-2017   November  2017   537600
743  Yadadri Bhongir  01-12-2017   December  2017   481075

In [ ]:
df_16_17.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
df_16_17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 744 entries, 0 to 743
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  744 non-null    object
 1   date      744 non-null    object
 2   month     744 non-null    object
 3   year      744 non-null    int64
 4   visitors  744 non-null    object
dtypes: int64(1), object(4)
memory usage: 34.9+ KB

In [ ]:
df_16_17.shape

(744, 5)

**Merging 2018 and 2019 files**

In [ ]:
df_18_19 = pd.merge(df3,df4, on =['district','date','month','year','visitors'],  how = 'outer')
df_18_19.head(5)

   district        date     month  year visitors
0  Adilabad  01-01-2018   January  2018   320356
1  Adilabad  01-02-2018  February  2018    36550
2  Adilabad  01-03-2018     March  2018    23011
3  Adilabad  01-04-2018     April  2018    14183
4  Adilabad  01-05-2018       May  2018     8197

In [ ]:
df_18_19.tail(5)

            district        date      month  year visitors
763  Yadadri Bhongir  01-08-2019     August  2019   389010
764  Yadadri Bhongir  01-09-2019  September  2019   366862
765  Yadadri Bhongir  01-10-2019    October  2019   381860
766  Yadadri Bhongir  01-11-2019   November  2019   365990
767  Yadadri Bhongir  01-12-2019   December  2019   477635

In [ ]:
df_18_19.shape

(768, 5)

In [ ]:
df_18_19.isnull().sum()

district     0
date         0
month        0
year         0
visitors    30
dtype: int64

**Merging all the files 2016-2017 and 2018-2019 to create a final files that contains data of all domestic tourists from 2016-2019**

In [ ]:
df = pd.merge(df_16_17,df_18_19, on =['district','date','month','year','visitors'],  how = 'outer')

In [ ]:
df

             district        date      month  year visitors
0            Adilabad  01-01-2016    January  2016   792136
1            Adilabad  01-02-2016   February  2016   937820
2            Adilabad  01-03-2016      March  2016   582946
3            Adilabad  01-04-2016      April  2016   341948
4            Adilabad  01-05-2016        May  2016   252887
...               ...         ...        ...   ...      ...
1507  Yadadri Bhongir  01-08-2019     August  2019   389010
1508  Yadadri Bhongir  01-09-2019  September  2019   366862
1509  Yadadri Bhongir  01-10-2019    October  2019   381860
1510  Yadadri Bhongir  01-11-2019   November  2019   365990
1511  Yadadri Bhongir  01-12-2019   December  2019   477635

[1512 rows x 5 columns]

In [ ]:
df.shape

(1512, 5)

In [ ]:
768+744

1512

In [ ]:
df.info()

**We can see that after merging all domestic tourists files there are null values in visitors column**

In [ ]:
df.isnull().sum()

district     0
date         0
month        0
year         0
visitors    30
dtype: int64

In [ ]:
df.isnull().sum()

district     0
date         0
month        0
year         0
visitors    30
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1512 entries, 0 to 1511
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  1512 non-null   object
 1   date      1512 non-null   object
 2   month     1512 non-null   object
 3   year      1512 non-null   int64
 4   visitors  1482 non-null   object
dtypes: int64(1), object(4)
memory usage: 70.9+ KB

## **Data Cleaning( Treating NaN values)**

Filling all the NaN values in visitor column by 0

In [ ]:
new_df = df.fillna(
    {
        'visitors' : 0
    }
)

In [ ]:
new_df.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

**Adding a new column call visitor_type in the domestic tourists data frame**

In [ ]:
df['visitor_type'] = 'domestic'

In [ ]:
df.head()

   district        date     month  year visitors visitor_type
0  Adilabad  01-01-2016   January  2016   792136     domestic
1  Adilabad  01-02-2016  February  2016   937820     domestic
2  Adilabad  01-03-2016     March  2016   582946     domestic
3  Adilabad  01-04-2016     April  2016   341948     domestic
4  Adilabad  01-05-2016       May  2016   252887     domestic

In [ ]:
df.isnull().sum()

district         0
date             0
month            0
year             0
visitors        30
visitor_type     0
dtype: int64

**Converting the domestic tourists data frame to csv if needed for future use**

In [ ]:
df.to_csv('domestic_visitors.csv', index = False)

# **Foreign visitors**

**Year 2016**

give the path of csv file

In [ ]:
dff1= pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/foreign_visitors/foreign_visitors_2016.csv")
dff1.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016        2
1  Adilabad  01-02-2016  February  2016        0
2  Adilabad  01-03-2016     March  2016        2
3  Adilabad  01-04-2016     April  2016        0
4  Adilabad  01-05-2016       May  2016        0

In [ ]:
dff1.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
dff1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  372 non-null    object
 1   date      372 non-null    object
 2   month     372 non-null    object
 3   year      372 non-null    int64
 4   visitors  372 non-null    object
dtypes: int64(1), object(4)
memory usage: 14.7+ KB

In [ ]:
dff1.shape

(372, 5)

**Year 2017**

In [ ]:
dff2= pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/foreign_visitors/foreign_visitors_2017.csv")
dff2.head()

   district        date     month  year visitors
0  Adilabad  01-01-2017   January  2017        5
1  Adilabad  01-02-2017  February  2017        0
2  Adilabad  01-03-2017     March  2017        0
3  Adilabad  01-04-2017     April  2017        0
4  Adilabad  01-05-2017       May  2017        0

In [ ]:
dff2.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
dff2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  372 non-null    object
 1   date      372 non-null    object
 2   month     372 non-null    object
 3   year      372 non-null    int64
 4   visitors  372 non-null    object
dtypes: int64(1), object(4)
memory usage: 14.7+ KB

In [ ]:
dff2.shape

(372, 5)

**Year 2018**

In [ ]:
dff3 = pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/foreign_visitors/foreign_visitors_2018.csv")
dff3.head()

   district        date     month  year visitors
0  Adilabad  01-01-2018   January  2018        0
1  Adilabad  01-02-2018  February  2018        0
2  Adilabad  01-03-2018     March  2018        0
3  Adilabad  01-04-2018     April  2018        0
4  Adilabad  01-05-2018       May  2018        0

In [ ]:
dff3.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
dff3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  372 non-null    object
 1   date      372 non-null    object
 2   month     372 non-null    object
 3   year      372 non-null    int64
 4   visitors  372 non-null    object
dtypes: int64(1), object(4)
memory usage: 14.7+ KB

In [ ]:
dff3.shape

(372, 5)

**Year 2019**

In [ ]:
dff4 = pd.read_csv("/gdrive/MyDrive/CSV/C5 Input for participants/foreign_visitors/foreign_visitors_2019.csv")
dff4.head()

   district        date     month  year visitors
0  Adilabad  01-01-2019   January  2019        0
1  Adilabad  01-02-2019  February  2019        2
2  Adilabad  01-03-2019     March  2019        0
3  Adilabad  01-04-2019     April  2019        0
4  Adilabad  01-05-2019       May  2019        0

In [ ]:
dff4.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
dff4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   district  396 non-null    object
 1   date      396 non-null    object
 2   month     396 non-null    object
 3   year      396 non-null    int64
 4   visitors  396 non-null    object
dtypes: int64(1), object(4)
memory usage: 15.6+ KB

In [ ]:
dff4.shape

(396, 5)

**Merging 2016 and 2017 files**

In [ ]:
 dfv1 = pd.merge(dff1,dff2, on =['district','date','month','year','visitors'],  how = 'outer')
 dfv1.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016        2
1  Adilabad  01-02-2016  February  2016        0
2  Adilabad  01-03-2016     March  2016        2
3  Adilabad  01-04-2016     April  2016        0
4  Adilabad  01-05-2016       May  2016        0

In [ ]:
dfv1.shape

(744, 5)

**Merging 2018 and 2019 files**

In [ ]:
dfv2 = pd.merge(dff3,dff4, on =['district','date','month','year','visitors'],  how = 'outer')
dfv2.head()

   district        date     month  year visitors
0  Adilabad  01-01-2018   January  2018        0
1  Adilabad  01-02-2018  February  2018        0
2  Adilabad  01-03-2018     March  2018        0
3  Adilabad  01-04-2018     April  2018        0
4  Adilabad  01-05-2018       May  2018        0

In [ ]:
dfv2.shape

(768, 5)

In [ ]:
dfv2.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [ ]:
dfv1.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

**We did not find any Nan values in the foreign tourists data frame so no data cleaning needed**

**Merging all the files 2016-2017 and 2018-2019 to create a final files that contains data of all foreign tourists from 2016-2019**

In [ ]:
fdf = pd.merge(dfv1,dfv2, on =['district','date','month','year','visitors'],  how = 'outer')
fdf.head()

   district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016        2
1  Adilabad  01-02-2016  February  2016        0
2  Adilabad  01-03-2016     March  2016        2
3  Adilabad  01-04-2016     April  2016        0
4  Adilabad  01-05-2016       May  2016        0

In [ ]:
fdf

             district        date      month  year visitors
0            Adilabad  01-01-2016    January  2016        2
1            Adilabad  01-02-2016   February  2016        0
2            Adilabad  01-03-2016      March  2016        2
3            Adilabad  01-04-2016      April  2016        0
4            Adilabad  01-05-2016        May  2016        0
...               ...         ...        ...   ...      ...
1507  Yadadri Bhongir  01-08-2019     August  2019        0
1508  Yadadri Bhongir  01-09-2019  September  2019        0
1509  Yadadri Bhongir  01-10-2019    October  2019        0
1510  Yadadri Bhongir  01-11-2019   November  2019        0
1511  Yadadri Bhongir  01-12-2019   December  2019        0

[1512 rows x 5 columns]

**Adding a column named visitor_type in foreign tourists data frame**

In [ ]:

fdf['visitor_type'] = 'foreign'

In [ ]:
fdf.head()

   district        date     month  year visitors visitor_type
0  Adilabad  01-01-2016   January  2016        2      foreign
1  Adilabad  01-02-2016  February  2016        0      foreign
2  Adilabad  01-03-2016     March  2016        2      foreign
3  Adilabad  01-04-2016     April  2016        0      foreign
4  Adilabad  01-05-2016       May  2016        0      foreign

In [ ]:
fdf.shape

(1512, 6)

In [ ]:
fdf.isnull().sum()

district        0
date            0
month           0
year            0
visitors        0
visitor_type    0
dtype: int64

**Sanity check : Checking for any duplicates**

In [ ]:
len(df)-len(df.drop_duplicates())

0

In [ ]:
fdf.drop_duplicates()

             district        date      month  year visitors
0            Adilabad  01-01-2016    January  2016        2
1            Adilabad  01-02-2016   February  2016        0
2            Adilabad  01-03-2016      March  2016        2
3            Adilabad  01-04-2016      April  2016        0
4            Adilabad  01-05-2016        May  2016        0
...               ...         ...        ...   ...      ...
1507  Yadadri Bhongir  01-08-2019     August  2019        0
1508  Yadadri Bhongir  01-09-2019  September  2019        0
1509  Yadadri Bhongir  01-10-2019    October  2019        0
1510  Yadadri Bhongir  01-11-2019   November  2019        0
1511  Yadadri Bhongir  01-12-2019   December  2019        0

[1512 rows x 5 columns]

**Creating foreign tourits data frame to csv if needed for future use**

In [ ]:
fdf.to_csv('foreign_visitors.csv', index = False)

**Merging dometic tourists data frame and foreign tourists data frame to create a single data frame having all tourits from 2016-2019**

In [ ]:
df_final = pd.merge(df,fdf, on =['district','date','month','year','visitors','visitor_type'],  how = 'outer')

In [ ]:
df_final

             district        date      month  year visitors visitor_type
0            Adilabad  01-01-2016    January  2016   792136     domestic
1            Adilabad  01-02-2016   February  2016   937820     domestic
2            Adilabad  01-03-2016      March  2016   582946     domestic
3            Adilabad  01-04-2016      April  2016   341948     domestic
4            Adilabad  01-05-2016        May  2016   252887     domestic
...               ...         ...        ...   ...      ...          ...
3019  Yadadri Bhongir  01-08-2019     August  2019        0      foreign
3020  Yadadri Bhongir  01-09-2019  September  2019        0      foreign
3021  Yadadri Bhongir  01-10-2019    October  2019        0      foreign
3022  Yadadri Bhongir  01-11-2019   November  2019        0      foreign
3023  Yadadri Bhongir  01-12-2019   December  2019        0      foreign

[3024 rows x 6 columns]

In [ ]:
df_final.isnull().sum()

district         0
date             0
month            0
year             0
visitors        30
visitor_type     0
dtype: int64

In [ ]:
df_final.shape

(3024, 6)

In [ ]:
1512+1512

3024

**Converting the final dataframe into csv for insight generration in Power BI**

In [ ]:
df_final.to_csv('Tourism.csv', index =False)